@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');


:root{
    --dark-yellow: #FABE2C;
    --light-yellow: #FED843;
    --lightest-yellow: #fff7bd;
    --background-light-yellow: #FFFEF2;
    --dark: #1E1E1E;
    --marvel: 'Marvel', sans-serif;
    --mont: 'Montserrat', sans-serif;
}
*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--background-light-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: fit-content;
    width: 100vw;
    margin-right: 1rem;
}

/* ===============================HEADER============================== */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
header{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.major-arcana h1{
    font-size: 24px;
    color: var(--dark-yellow);
    font-family: var(--marvel);
    letter-spacing: 5px;
    background-color: var(--dark);
    border-radius: 1rem;
    padding: 0.6rem 1.25rem;
    text-align: center;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.major-arcana h1:hover{
    background-color: var(--dark-yellow);
    color: var(--dark)
}

.minor-arcana{
    display: flex;
    gap: 0.3rem;
}
.round{
    border-radius: 2rem;
    height: 47px;
    width: 47px;
    background-color: var(--dark);
    position: relative;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.round:hover{
    background-color: var(--dark-yellow);
}
.round img{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
#pentacle{
    width: 90%;
    height: 90%;
}



/* ===============================BODY================================ */
.body{
    height: fit-content;
}
.home-page{
    display: block;
    
}
.home-page.inactive{
    display:none;
}
.hero-content{
    background-color: var(--light-yellow);
    height: 60vh;
}
.hero-content h1{
    font-family: var(--marvel);
    font-size: 48px;
    padding-top: 3rem;
    padding-left: 2rem;
}
.hero-subtext{
    position: relative;
}
.hero-subtext h3{
    font-family: var(--mont);
    font-size: 14px;
    font-weight: 400;
    width: 10rem;
    position: absolute;
    text-align: right;
    top: 0.5rem;
    right: 2rem;
}

.sub-hero-content{
    background-color: var(--dark-yellow);
    margin-top: 6rem;
    padding: 1.15rem;
}

.sub-hero-content p{
    font-family: var(--mont);
    font-size: 10px;
}
.sub-hero-content a{
    text-decoration: none;
    color: var(--background-light-yellow)
}

.card{
    font-family: var(--mont);
    font-size: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.italic{
    font-style: italic;
}

.card ul li{
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 0.8rem;
}
.card h2{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 0.5rem;
}

/* ==========================MODAL NAV BAR ======================= */

.major-arcana-modal{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 5rem;
    transition: 0.4s;
    text-align: center;
    z-index: 11;
}

.major-arcana-modal li{
    list-style: none;
    padding: 1rem 2rem;
    width: 100vw;
    background-color: var(--dark);
    color: var(--background-light-yellow);
    font-family: var(--mont);
    cursor: pointer;

    
}

.major-arcana-modal.inactive{
    display: none;
}

.minor-arcana-modal{
    position: absolute;
    z-index: 11;
    left: 0rem;
    top: 5rem;
    transition: 0.4s;
}

.minor-arcana-modal li{
    text-align: center;
    list-style: none;
    padding: 1rem 2rem;
    width: 100vw;
    background-color: var(--dark);
    color: var(--background-light-yellow);
    font-family: var(--mont);
    cursor: pointer;

}
.minor-arcana-modal.inactive{
    display: none;
}

/* =======================CARD DISPLAY ========================= */

.card-page{
    background-color: var(--light-yellow);
    padding-top: 0.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding-bottom: 2rem;
    position: relative;
    height: fit-content + 10vh;
    width: 100vw;

}
.card-header{
    width: 100vw;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-yellow);
    font-size: 3.5vh;
    font-family: var(--marvel);
    letter-spacing: 5px;
    font-weight: 700;
    height: 8vh;
}

.carousel-btn, .card-np-btn{
    cursor: pointer;
    transition: 0.4s;

}
.carousel-btn:hover, .card-np-btn:hover{
    color: red;
    transition: 0.4s;
    
}
.card-body{
    background: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: fit-content;
}

.image-carousel{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-yellow);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--mont);
}

.card-image{
    background: var(--background-light-yellow);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    display: none;
}
.card-image.active{
    display: flex;
}

.image-carousel img{
    max-width: 100%;
}
.card-by{
    color:var(--background-light-yellow);
    font-family: var(--mont);
    font-size: 10px;
    text-align: center;
    display: none;
}
.card-by.active{
    display: block;
}

.image-nav-btns{
    height: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.circle{
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--lightest-yellow)
}

.circle.active{
    background-color: var(--light-yellow);
}

.card-nav-footer{   
    width: 90vw;
    border-radius: 0.8rem;
    overflow: auto;
    white-space: nowrap;
    background-color: var(--dark-yellow);
    z-index: 10
}
.card-nav-footer ul{
    display: flex;
    font-family: var(--mont);
}

.card-nav-footer li{
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 1rem 0.5rem;
    transform: 1s;
    font-size: 2vh;
    transition: 0.4s ease-in;

}



/* ====================CARD MODAL DISPLAY ====================== */
.card-nav-footer li.active{
    background-color: var(--dark);
    color: var(--light-yellow);
    font-weight: 700;
    transition: 0.4s ease-in;
}

.card-modal{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 17vh;
    width: 100%;
    height: fit-content + 10vh;
    transition: 0.4s ease-in;
}

.inner-card-modal{
    border: 2px solid var(--dark-yellow);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-light-yellow);
    font-family: var(--mont);
    margin: 1rem;
    height: fit-content;
    padding: 1rem;
    position: relative;
    transition: 0.4s ease-in;
}
.close{
    color: var(--lightest-yellow);
    font-family: var(--mont);
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    transition: 0.4s;
}
.close:hover{
    color: rgb(116, 0, 0);
    transition: 0.4s;
}
.inner-card-modal h2{
    text-decoration: underline;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.25rem;
    font-family: var(--marvel);
}

.inner-card-modal li{
    line-height: 2rem;
    list-style: disc;
    transition: 0.4s ease-in;
}

.inner-card-modal p{
    padding: 1rem;
    line-height: 1.15rem;
    font-size: 0.8rem;
}


/* ===============================FOOTER============================== */

footer{
    position: fixed;
    bottom: -2.5rem;
    margin-top: 0.15rem;
    font-family: var(--mont);
    font-size: 10px;
    background-color: var(--dark);
    width: 100vw;
    text-align: center;
    color: var(--background-light-yellow);
}
footer li{
    list-style: none;
    font-size: 8px;
}
footer a{
    text-decoration: none;
    color: var(--dark-yellow);
}

@media (min-width: 450px){
    nav{
        display: flex;
        width: 80vw;
    }
    .body{
        margin: 0;      
    }
    .inner-card-modal{
        width: 80vw;
        left: 50%;
        transform: translateX(-50%);
    }
    .major-arcana-modal {
        left: 2vw;
    }
    .minor-arcana-modal{
        left: 60vw;
    }
    .major-arcana-modal li, .minor-arcana-modal li{
        width: 30vw;       
    }


}

@media (min-width: 800px){

    nav{
        display: flex;
        max-width: 1200px;
        height: 5rem;
    }
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: var(--dark);

    }
    .body{
        max-width: 1200px;
        width: 100%;
        border: 2px solid var(--dark)
    }
    .major-arcana h1{
        font-size: 3rem;
    }
    .home-page{
        margin-top: 3rem;
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-content{
        display: grid;
        justify-items: center;
        width: 780px;
        grid-template-columns: 1fr 1fr;
        color: var(--background-light-yellow);
    }
    /* .info-content li{
        color: pink;
    } */
    .round{
        width: 60px;
        height: 60px;
    }
    .minor-arcana{
        gap: 1rem;
    }
    
    .inner-card-modal{
        width: 100%;
        margin:0;
    }
    .major-arcana-modal, .minor-arcana-modal{
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
        margin-top: 2rem;
    }
    .major-arcana-modal ul, .minor-arcana-modal ul{
        display: flex;
        max-width: 1200px;
        overflow: auto;
        white-space: nowrap;
        background-color: var(--dark-yellow);
        z-index: 10
    }
    .keywords h2{
        padding-bottom: 1rem;
    }
    .keywords-list li{
        font-size: 1rem;
        line-height: 1.25rem;

    }

    .major-arcana-modal li, .minor-arcana-modal li{
        width: 300px;       
    }
    .card-page{
        height: max-content;
        width: 100%;
        height: 90vh;
    }
    .card-modal{
        transition:0.4s ease-in;
        position: absolute;
        top: 23vh;
        left: 55%;
        transform: translateX(-30%);
        width: 600px;
        border-radius: 1rem;
    }
    .card-body{
        position: absolute;
        left: 30%;
        transform: translateX(-70%);
        top: 23vh;
        max-width: 350px;
    }
    .card-image{
        width: 250px;
    }
    .card-header{
        margin-top:2rem;
        width: 100%;
        border: none;
    }
    .card-by{
        width: 250px;
    }
    .card-nav-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 900px;
    }
    .card-nav-footer li{
        font-size: 1rem;
    }
    .card-nav-footer li:hover{
        background-color: var(--lightest-yellow);
    }
    .card-header{
        max-width: 1200px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .card-nav-footer{
        max-width: 1200px;
    }
    .inner-card-modal{
        max-width: 600px;
    }

    .inner-card-modal li{
        list-style-type: none;
    }
    
    .inner-card-modal p{
        padding: 1rem;
        line-height: 1.15rem;
        font-size: 0.8rem;
    }
    footer{
        position: fixed;
        bottom: 0;
        border-top: 1px solid var(--dark-yellow);
    }
}